.playground-container{
  display: flex;
  flex-direction: column;
}

.editor-container{
  height: 65vh;
  display: flex;
}

.file-node{
  background: lightgoldenrodyellow;
  cursor: pointer;
}

.files{
  padding: 20px;
}

li{
  list-style: none;
  line-height: 24px;
}

.file-path{
  background: #1a1919f5;
  color: azure;
}

.file-node {
  color: #007bff;
  font-weight: bold;
}

.folder-node {
  color: #28a745;
  font-weight: bold;
}

ul {
  padding-left: 20px;
}

div {
  margin: 10px 0;
}
