* {
    padding: 0;
    margin: 0;
}

body {
    background: #060f1e;
}

.flex {
    display: flex;
    align-items: center; /* Vertically centers the logo and text */
    gap: 10px; /* Space between the logo and the text */
}

.logo-image {
    width: 40px; /* Adjust the size of the logo as needed */
    height: 40px;
    object-fit: contain; /* Ensures the image fits without distortion */
}

.heading {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff; /* Adjust text color as needed */
}

.heading{
    color: azure;
    text-align: center;
}